
{% if motor.images | length %}
    <link rel="stylesheet" href="{{ asset('css/photoswipe.css') }}">

    <div id="gallery" class="my-12">
        <h2 class="text-2xl font-bold my-2">Thư viện ảnh</h2>
        <div class="pswp-gallery grid grid-cols-12 gap-1.5" id="photoswipe-gallery">
            {% for image in motor.images %}    
                <a
                href="{{ asset('uploads/' ~ image.img_path) }}"
                target="_blank"
                class="inline-block overflow-hidden col-span-3"
                >
                    <img
                        src="{{ asset('uploads/' ~ image.img_path) }}"
                        alt=""
                        class="w-full h-44 object-cover rounded-lg border-2"
                    />
                </a>
            {% endfor %}
        </div>
    </div>

    <script type="module" src="{{ asset('js/photoswipe.js') }}"></script>
{% endif %}
