<!DOCTYPE html>
<html lang="en"  class="scroll-smooth">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Giới thiệu xe</title>
		
		{# TailwindCSS #}
		<script src="https://cdn.tailwindcss.com"></script>
		
		{# Fontawesome #}
		<script src="https://kit.fontawesome.com/fff06ecf43.js" crossorigin="anonymous"></script>
		
		{# jquery #}
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	</head>
	<body>
		<header class="bg-red-600 py-3 text-white fixed top-0 left-0 w-full z-10">
			<nav class="max-w-6xl m-auto flex gap-14 items-center">
				<a href="/">
					<p class="text-2xl uppercase font-black">Mymotor</p>
				</a>
				<div class="flex-grow flex justify-between items-center">
					<ul class="flex gap-10">
						<li>
							<a href="/">Trang chủ</a>
						</li>
						<li>
							<a href="/#introduce">Giới thiệu</a>
						</li>
						<li>
							<a href="/motors">Sản phẩm</a>
						</li>
					</ul>
					<div class="flex-grow"></div>
					{% include "partials/search.twig" %}
				</div>
				<div>
					<a href="/manage">
						<i class="fa-solid fa-gear pe-4"></i>
						Quản lý
					</a>
				</div>
			</nav>
		</header>
		
		<div class="mt-16">
			{% block banner %}{% endblock %}
		</div>

		<div id="content">
			<div class="max-w-6xl m-auto"> {% block content %}{% endblock %}
				</div>
			</div>

			<footer class="bg-gray-200 py-10">
				<div class="max-w-6xl m-auto flex gap-20">
					<div>
						<p class="font-bold mb-2">Địa chỉ liên hệ</p>
						<p class="text-xs leading-5">
							Số GCNĐKDN: 1234567890
							<br>Đăng ký lần đầu: Ngày 7/1/2004
							<br>Đăng ký thay đổi lần thứ 14: Ngày 31/3/2023.
							<br>Cơ quan cấp: Phòng Đăng ký kinh doanh và đầu tư Trà Hoàng Minh
							<br>Địa chỉ: Đường vào tim em, Việt Nam
						</p>
					</div>
					<div>
						<p class="font-bold mb-2">Hotline</p>
						<p class="text-xs leading-5">
							Hotline:
							<span class="text-red-600 text-lg font-bold">1800 1234</span>
							(Miễn phí cho tất cả thuê bao)
							<br>Email: support@mymotor.com.vn
						</p>
					</div>
				</div>
			</footer>
		</body>
	</html>
