<div id="specs" class="my-12">
    <h2 class="text-2xl font-bold my-2">Thông số kỹ thuật</h2>
    <div class="bg-gray-200 rounded-lg p-5 py-10">
        <ul class="w-2/3 m-auto">
            <li class="grid grid-cols-2 bg-white/50 rounded-lg p-3 px-20">
                <p>Khối lượng</p>
                <p class="font-bold">abc</p>
            </li>
            <li class="grid grid-cols-2 p-3 px-20">
                <p>Dài x Rộng x Cao</p>
                <p class="font-bold">abc</p>
            </li>
            <li class="grid grid-cols-2 bg-white/50 rounded-lg p-3 px-20">
                <p>Độ cao yên</p>
                <p class="font-bold">abc</p>
            </li>
            <li class="grid grid-cols-2 p-3 px-20">
                <p>Khoảng sáng gầm xe</p>
                <p class="font-bold">abc</p>
            </li>
            <li class="grid grid-cols-2 bg-white/50 rounded-lg p-3 px-20">
                <p>Dung tích bình xăng</p>
                <p class="font-bold">abc</p>
            </li>
            <li class="grid grid-cols-2 p-3 px-20">
                <p>Mức tiêu thụ nhiên liệu</p>
                <p class="font-bold">abc</p>
            </li>
            <li class="grid grid-cols-2 bg-white/50 rounded-lg p-3 px-20">
                <p>Dung tích xy-lanh</p>
                <p class="font-bold">abc</p>
            </li>
        </ul>
    </div>
</div>