<div class="relative">
    <form action="">
        <input
            class="w-80 p-2 px-3 border-white/50 bg-white/25 rounded-lg text-white placeholder:text-white/60 focus:outline-none"
            type="text"
            placeholder="Tìm kiếm"
            name="search"
        />
        <button class="absolute right-3 top-1/2 -translate-y-1/2">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </form>
</div>
