{% extends "components/layout.twig" %}

{% block banner %}
    <div id="banner">
        <img class="w-full" src="{{ asset('images/banner2.jpg') }}" alt="">
    </div>
{% endblock %}

{% block content %}
    <div id="products" class="my-12">
        <h2 class="text-6xl text-gray-300 font-bold font">
            Lựa chọn phong cách của bạn
        </h2>
        <div class="flex gap-3 mt-10 mb-5">
            {% include "partials/motor_types_list.twig" %}
        </div>
        <div class="grid grid-cols-4 gap-10 overflow-auto">
            {% for motor in motors %}
                {% include "components/motor_card_slim.twig" %}
            {% endfor %}
        </div>
    </div>
{% endblock %}