{% extends "components/layout.twig" %}

{% block content %}
    <div class="mt-28"></div>
    {% include "components/motor_card.twig" %}
    {% include "components/specs.twig" %}
    {% include "components/gallery.twig" %}
{% endblock %}